@{
    ViewBag.Title = "About";
}
<h2>About This Project</h2>

<h3>Hello, my name is Kyle Mayers And here i have created a Web Application in which to demonstrate Web Scraping using C#</h3>
<br />
<p>The Steps needed to complete this application were to</p>
<ul>
    <li>Create a Mock Portfolio Page using Yahoo Finance</li>
    <li>Create the Functionality using Selenium and HAP to Navigate to my Portfolio on Yahoo Finance and Scrape the Intended information i wanted to display here</li>
    <li>Once that information was scraped, i had to push the information to a SQL database to be viewed later in what we called a "SnapShot"</li>
    <li>Create the Functionality to Log in to this Website, so that way only logged in users, would be able to view and create new "Snapshots"</li>
</ul>
<p>The technology i used to create this project were languages such as C#, Selenium, Html Agility pack, asp.net, Entity Framework<br /> and along with other programs such as Microsoft visual Studio, and Sql server managment studio</p>
