@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h4>Here Is my E-mail address which you can contact me at any time<br /> for any questions, comments or Feedback on this website.</h4>


<address>
    <strong>Email:</strong>   <a href="mailto:Support@example.com">Kyle7150@IntraCityGeeks.org</a><br />
</address>